
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Client/Views/Shared/_ClientLayout.cshtml";
}


<div class="container">
    <a class="btn btn-success" asp-controller="Home" asp-action="CreateProject">Create Project</a>
</div>
