@model IEnumerable<StepCourseProject.Entites.AppUser>
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@foreach (var item in Model)
{
    <p>@item.UserName</p>
}

<a href="/Home/tabicon.jpg">content</a>